.container-fluid {
  max-width: 800px;
}

.narrow {
  .container-fluid {
    max-width: 600px
  }
}

nav.global h1 {
  line-height: 1;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    .word-fuck {
      width: 0;
      overflow: hidden;
      transition: .3s width;
      white-space: nowrap;
    }

    &:hover {
      text-decoration: none;

      .word-fuck {
        width: 75px;
      }
    }
  }
}

a {
  transition: color .3s;
}

label {
  color: #999;
  margin-bottom: 4px;
}

.pagination {
  font-size: 24px;

  span {
    padding: 10px 18px;
  }
}