body.home {
  .home-header {
    h1 {
      font-size: 20px;
      text-align: center;
      line-height: 1;
      font-weight: bold;
    }

    .home-label {
      font-size: 16px;
      background: #333;
      color: #fff;
      display: block;
      opacity: 0;

      padding: 6px 10px;
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      transition: .4s all;
    }

    .finger {
      position: relative;
      display: block;

      pre {
        width: 200px;
        letter-spacing: -3px;
        margin: 0 auto 0;
        padding: 80px 0 20px;
        font-size: 16px;
        line-height: 1.1;
        border: none;
        transition: padding .3s;
        background: none;
      }

      &:hover {
        text-decoration: none;

        pre {
          padding: 20px 0 80px;
        }

        .home-label {
          bottom: 10px;
          opacity: 1;
        }
      }
    }
  }
}