body.home {

  > div.container-fluid > header {
    h1 {
      font-size: 20px;
      text-align: center;
      line-height: 1;
    }

    .finger {
      display: block;
      font-size: 300px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}